.projectsContainer {
  height: 100%;
  background-color: #090a0c;
  padding: 3rem 1rem;
}
.mainContainer {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.projectsContainer h1 {
  color: #634545;
  font-size: 24px;
  font-weight: 200;
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.gallery a {
  text-decoration: none;
  margin: 0.5rem auto;
}
@media (max-width: 500px) {
  .projectsContainer {
    padding: 3rem 1rem;
  }
}
.visible,
.invisible {
  opacity: 0;
  transition: opacity 2s ease;
}
.visible {
  opacity: 1;
}
