.aboutContainer {
  height: 100%;
  background-color: rgba(20, 22, 27, 100%);
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.textContainer {
  width: 100%;
  max-width: 800px;
}
.textContainer h1 {
  align-self: flex-start;
  color: #634545;
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 1rem;
}
.textContainer .paragraph {
  color: #fcf6ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  width: 100%;
  max-width: 800px;
  min-width: 300px;
}
