.main {
  height: 100%;
}
.textArea {
  height: 100vh;
  width: 100vw;
  background-image: url(../../assets/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textArea h1 {
  margin-top: -10rem;
  color: #ffeed6;
  font-size: 48px;
  font-weight: 400;
}
.main h1 span {
  color: #cc4343;
}
.ulEl {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  transition: all 0.2s ease;
}
.ulEl a {
  text-decoration: none;
  cursor: pointer;
}
.ulEl li,
.ulEl a {
  margin: 0.5rem auto;
  color: #634545;
  font-size: 24px;
  font-weight: 200;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.ulEl a:hover {
  background-color: rgba(204, 67, 67, 0.5);
  color: #ffeed6;
}
.ulEl hr {
  border-bottom: #634545;
  width: 60%;
  opacity: 0;
}

@media (min-width: 800px) {
  .ulEl {
    width: 50%;
  }
}
